<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Hono</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">How It Works?</a>
      </li>
      <li class="pure-menu-item">
        <a href="#sign-up" class="pure-menu-link">Sign Up</a>
      </li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">First block goes here</h1>
    <p class="splash-subhead">
      some sub-header
    </p>
    <p>
      <a href="#sign-up" class="pure-button pure-button-primary">Sign Up</a>
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content pure-g">
    <iframe class="pure-u-2-3" src="https://www.google.com/maps/d/embed?mid=1HfZPPnSvsTx0vNikbQNhkLdRmVY" width="640" height="480"></iframe>

    <div class="pure-u-1-24"></div>

    <div class="pure-u-7-24">
      <h2 class="content-head">
        Community hubs around you
      </h2>

      <h4 class="content-subhead">
        PEOPLE! Write something for this subheading
      </h4>

      <p>
        PEOPLE! Write some more things for this paragraph
      </p>
    </div>
  </div>

  <div class="ribbon l-box-lrg">
    <h2 class="content-head content-head-ribbon is-center">Second Block Goes Here</h2>

    <div class="pure-g">
      <div class="is-center pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">

        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Some column No.1
        </h3>
        <p>
          Important things about column 1
        </p>
      </div>

      <div class="is-center pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          Some column No.2
        </h3>
        <p>
          Important things about column 2
        </p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="tabs">
      <span>
        <input id="tab-seek-help" type="radio" name="tabs" checked>
        <label for="tab-seek-help">
          <h3 class="content-subhead">Seek Help</h3>
        </label>
      </span>

      <span>
        <input id="tab-offer-help" type="radio" name="tabs">
        <label for="tab-offer-help">
          <h3 class="content-subhead">Offer Help</h3>
        </label>
      </span>
    </div>

    <div id="find-help-panel" class="content">
      <%= render partial: "find_help_panel" %>
    </div>

    <div id="offer-help-panel" class="content">
      <%= render partial: "offer_help_panel" %>
    </div>
  </div>

  <div class="content" id="sign-up">
    <h2 class="content-head is-center">Sign up now, prepare early</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <%= form_for :user, url: url_for(:controller => 'users', :action => 'create'), html: { class: "pure-form pure-form-stacked" } do |f| %>
          <label for="user_name">Your Name</label>
          <%= f.text_field :name, placeholder: "Your Name" %>

          <label for="user_email_address">Your Email</label>
          <%= f.email_field :email_address, placeholder: "Your Email Address" %>

          <label for="user_password">Your Password</label>
          <%= f.password_field :password, placeholder: "Your Password" %>

          <%= f.submit "Sign Up", class: "pure-button" %>
        <% end %>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Contact Us</h4>
        <p>
          Why you should talk to us
        </p>

        <h4>More Stuff</h4>
        <p>
          More and MORE stuff
        </p>
      </div>
    </div>
  </div>
</div>
