<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Hono</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a class="pure-menu-link">How It Works?</a>
      </li>
      <li class="pure-menu-item">
        <a href="#sign-up" class="pure-menu-link">Sign Up</a>
      </li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">HONO</h1>
    <p class="splash-subhead">
      Connecting communities when it matters most
    </p>
    <p>
      <a href="#sign-up" class="pure-button pure-button-primary">Sign up now, prepare early</a>
    </p>
  </div>
</div>

<div class="content-wrapper">

  <div class="content">
    <%= render partial: "find_or_offer_help_tabs" %>

    <div id="find-help-panel" class="content tabbed-panel">
      <%= render partial: "find_help_panel" %>
    </div>

    <div id="offer-help-panel" class="content tabbed-panel" style="display:none">
      <%= render partial: "offer_help_panel" %>
    </div>
  </div>

  <div class="content pure-g ribbon">
    <iframe class="pure-u-2-3" src="https://www.google.com/maps/d/embed?mid=1HfZPPnSvsTx0vNikbQNhkLdRmVY" width="640" height="480"></iframe>

    <div class="pure-u-1-24"></div>

    <div class="pure-u-7-24">
      <h2 class="content-head content-head-ribbon">
        Community hubs around you
      </h2>

      <h4 class="content-subhead">
        Communities can help!
      </h4>

      <p>
        Help each other at your nearest community hub.
      </p>
    </div>
  </div>

  <div class="content" id="sign-up">
    <h2 class="content-head is-center">Sign up now, prepare early</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <%= form_for :user, url: url_for(:controller => 'users', :action => 'create'), html: { class: "pure-form pure-form-stacked" } do |f| %>
          <label for="user_name">Your Name</label>
          <%= f.text_field :name, placeholder: "Your Name" %>

          <label for="user_email_address">Your Email</label>
          <%= f.email_field :email_address, placeholder: "Your Email Address" %>

          <label for="user_password">Your Password</label>
          <%= f.password_field :password, placeholder: "Your Password" %>

          <%= f.submit "Sign Up", class: "pure-button" %>
        <% end %>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Contact Us</h4>
        <p>
          Why you should talk to us
        </p>

        <h4>More Stuff</h4>
        <p>
          More and MORE stuff
        </p>
      </div>
    </div>
  </div>
</div>
